/*FEATURES SECTION*/
.features .subtitle {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 10px;
    margin-top: 0px;
    color: $title-light-theme-color;
  }
  .features .container {
    padding-top: 94px;
    padding-bottom: 47px;
  }
  .features-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  
  .features-list-item-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 120px;
    border-radius: 4px;
    background-color: $rectangle-background-color;
    margin-bottom: 30px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    }
  
  .features-list-item-block-icon {
    width: 70px;
    height: 70px;
    fill: $title-light-theme-color;
  }
  .features-list-item:not(:last-child) {
    margin-right: 30px;
  }
  
  .features .description {
    line-height: 1.71;
    letter-spacing: 0.03em;
    margin-top: 0px;
    margin-bottom: 0px;
  }