/*FOOTER*/
.footer {
    background-color: #2f303a;
    min-width: 1200px;
  }
  .footer .container {
    padding-top: 60px;
    padding-bottom: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
  .footer .title {
    margin-bottom: 20px;
    text-align: left;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $title-dark-theme-color;
  }
  .footer .logo {
    color: $title-dark-theme-color;
  }
  .footer-contact {
    margin-right: 69px;
  }
  .footer-contact-logo {
    margin-top: 0px;
    margin-bottom: 20px;
  }
  .footer-contact-adress-list-item:not(:last-child) {
    margin-bottom: 9px;
  }
  .footer-social {
    margin-right: 94px;
  }
  .footer-contact-adress-list-item-link {
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: $text-dark-theme-color;
    -webkit-transition-property: color;
    -o-transition-property: color;
    transition-property: color;
  -webkit-transition-duration: $transition-time;
       -o-transition-duration: $transition-time;
          transition-duration: $transition-time;
  -webkit-transition-timing-function: $transition-function;
       -o-transition-timing-function: $transition-function;
          transition-timing-function: $transition-function;
  }
  .footer .footer-contact-adress-list-item-link.map {
    color: $title-dark-theme-color;
   }
  
  .footer-contact-adress-list-item-link:hover,
  .footer .footer-contact-adress-list-item-link.map:hover,
  .footer-contact-adress-list-item-link:focus,
  .footer .footer-contact-adress-list-item-link.map:focus {
    color: $accent-color;
  }
  
  .footer-social-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  .footer-social-list-item:not(:last-child) {
    margin-right: 10px;
  }
  
  .footer-social-list-item-link-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 44px;
    width: 44px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    -webkit-transition-property: background-color;
    -o-transition-property: background-color;
    transition-property: background-color;
  -webkit-transition-duration: $transition-time;
       -o-transition-duration: $transition-time;
          transition-duration: $transition-time;
  -webkit-transition-timing-function: $transition-function;
       -o-transition-timing-function: $transition-function;
          transition-timing-function: $transition-function;
  }
  .footer-social-list-item-link:hover .footer-social-list-item-link-block,
  .footer-social-list-item-link:focus .footer-social-list-item-link-block {
    background-color: $svg-color-accent;
  }
  
  .footer .social-list-link-icons {
    width: 20px;
    height: 20px;
    fill: $title-dark-theme-color;
    }
  
  .footer .form-input {
    margin-right: 12px;
    width: 358px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
  }
  .footer-sign .modal-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    }
  .footer-sign-modal-btn-send {
    width: 24px;
    height: 24px;
    fill: $title-dark-theme-color;
    margin-left: 10px;
  }