/*HEADER*/

  .logo-accent {
    color: $accent-color;
  }
  .header .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
     }
  
  .header .navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header .nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header .nav-list-item:not(:last-child) {
    margin-right: 50px;
  }
  .header .logo {
    padding-top: 24px;
    padding-bottom: 25px;
    margin-right: 85px;
  }
  
  .nav-list-link {
    position: relative;
    padding-top: 32px;
    padding-bottom: 32px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: $title-light-theme-color;
      -webkit-transition-property: color;
      -o-transition-property: color;
      transition-property: color;
  -webkit-transition-duration: $transition-time;
       -o-transition-duration: $transition-time;
          transition-duration: $transition-time;
  -webkit-transition-timing-function: $transition-function;
       -o-transition-timing-function: $transition-function;
          transition-timing-function: $transition-function;
  }
  
  .nav-list-item .current::after {
    position: absolute;
    bottom: 0;
    display: block;
    content: "";
    width: 100%;
    height: 4px;
   background: $accent-color;
    border-radius: 2px;
    
  }
  .nav-list-link:hover,
  .nav-list-link:focus,
  .current {
    color: $accent-color;
   }
  .header-adress-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header-adress-list-item:not(:last-child) {
    margin-right: 30px;
  }
  .header-adress-list-item-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: $text-light-theme-color;
    -webkit-transition-property: color;
    -o-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: $transition-time;
         -o-transition-duration: $transition-time;
            transition-duration: $transition-time;
    -webkit-transition-timing-function: $transition-function;
         -o-transition-timing-function: $transition-function;
            transition-timing-function: $transition-function;
  
  }
  .header-adress-list-item-link:hover,
  .header-adress-list-item-link:focus {
    color: $accent-color;
    }
  .header-adress-icon {
    margin-right: 10px;
    fill: $text-light-theme-color;
    -webkit-transition-property: fill;
    -o-transition-property: fill;
    transition-property: fill;
    -webkit-transition-duration: $transition-time;
         -o-transition-duration: $transition-time;
            transition-duration: $transition-time;
    -webkit-transition-timing-function: $transition-function;
         -o-transition-timing-function: $transition-function;
            transition-timing-function: $transition-function;
  } 
  .header-adress-list-item-link .mail {
    width: 16px;
    height: 11px;
  }
  .header-adress-list-item-link .mob {
    width: 10px;
    height: 15px;
  }
  
  .header-adress-list-item-link:hover .header-adress-icon,
  .header-adress-list-item-link:focus .header-adress-icon {
    fill: $accent-color;
    
  }