/* FOOTER SIGN-FORM */
.form-sign-input-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;}
  
  .form-sign-label {
  display: block;}
  
  .form-sign-input {
    &,
    &::-webkit-input-placeholder, 
    &::-moz-placeholder,
    &:-ms-input-placeholder,
    &::-ms-input-placeholder,
    &::placeholder {
   font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: $text-dark-theme-color;
    }  
  display: block;
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  outline: none;
  
  padding-left: 16px;
  background-color: transparent;

  }
    .form-sign-button {
      margin-left: 12px;
    }