/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

html {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  
  *,
  *::before,
  *::after {
    -webkit-box-sizing: inherit;
            box-sizing: inherit;
  }
  body {
    background-color: $title-dark-theme-color;
    font-family: $main-font;
    font-size: 14px;
    color: $text-light-theme-color;
  }
  img {
    display: block;
  }

  button:hover,
button:focus,
input:hover,
input:focus,
textarea:hover,
textarea:focus,
label:hover,
label:focus {
cursor: pointer;
}

  